<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyBoard">
	<select id="selectAll" resultType="MyBoard">
		select * from myboard order by myboard_id desc
	</select>
	
	<insert id="insert" parameterType="MyBoard">
		insert into myboard(myboard_id,title,content,writer,regdate,hit)
		values(seq_myboard.nextval,#{title},#{content},#{writer},sysdate,#{hit})
	</insert>
	
	<select id="select" parameterType="int" resultType="MyBoard">
		select * from myboard where myboard_id=#{myboard_id}
	</select>
	
	<update id="update" parameterType="MyBoard">
		update myboard set title=#{title},content=#{content} where myboard_id=#{myboard_id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from myboard where myboard_id=#{myboard_id}
	</delete>
</mapper>